<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🚀 OlympiaCode | Free Code API</title>
	<script src="script.js" defer></script>
	<link rel="stylesheet" href="styles.css">

  </head>
  <body>
    <header>
      <div class="container">
      
      <div class="navigation-title">OlympiaCode</div>

      <!-- Navigation Menu Starts Here -->
      <nav class="navigation-container" style="width: 100%">
        <ul class="navigation-links">
          <li class="link"><a title="Home" href="/">Home</a></li>
          <li class="link">
            <a title="Languages" href="#languages">Languages</a>
          </li>
          <li class="link"><a title="API" href="/api">API</a></li>
          <li class="link"><a title="Blog" href="/blog">Blog</a></li>
          <li class="link">
            <a id="connect"
              title="Connect on Twitter"
              href="https://twitter.com/Cre8steveDev"
              >LET'S CONNECT</a
            >
          </li>
        </ul>
      </nav>
    </div>
    </header>

    <!-- Hero Section -->
    <main class="hero-container">
      <p class="hero-subtitle">Welcome to OlympiaCode</p>
      <h1 class="hero-headline">
        WHERE CODE BECOMES CLEARER, SIMPLER, AND MORE ACCESSIBLE!
      </h1>
      <p class="hero-tagline">
        "Unlock the Power of Programming: Simplified Functions, Real-World Use
        Cases, and Impeccable Syntax – All in One Place!
      </p>
    </main>

    <!--Features Section Starts Here-->
    <!--Including the list of features and image grids-->
    <section class="features-container">
      <div class="features-text">
        <ul class="features-list">
          <li class="feature">
            Simplify Code with Expertly Crafted Function Summaries
          </li>
          <li class="feature">
            Bridge the Gap Between Tutorials/Documentation and Real-World Use
            Cases
          </li>
          <li class="feature">Master Syntax with Clear, Concise Examples</li>
          <li class="feature">Stay Updated with our Informative Blog Posts</li>
        </ul>
      </div>

      <!--Images Go Here-->
      <div class="features-image-container">
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
      </div>
    </section>
	

    <!--FOOTER BEGINS HERE-->
    <footer class="footer-container">
      <p class="copyright">
        OlympiaCode | Copyright &copy;
        <span id="footer-year">2023</span> Cre8Steve
      </p>
	  <ul class="footer-links">
		<li class="link"><a title="Home" href="/">Home</a></li>
		<li class="link">
		  <a title="Languages" href="#languages">Languages</a>
		</li>
		<li class="link"><a title="API" href="/api">API</a></li>
		<li class="link"><a title="Blog" href="/">Blog</a></li>
		<li class="link">
		  <a
			title="Connect on Twitter"
			href="https://twitter.com/Cre8steveDev"
			>LET'S CONNECT</a
		  >
		</li>
	  </ul>
	</nav>
    </footer>
  </body>
</html>
